@{
    ViewData["Title"] = "Ajouter un service";
}

<div class="text-center">
    <h1 class="display-4">Ajouter un service</h1>

<div>

    <form enctype="multipart/form-data" asp-controller="Service" asp-action="SuccesAjout" method="post">
        <div class="row m-1">
            <input type="text" name="Nom" class="form-control col p-1" placeholder="Donnez un nom au service" />
        </div>
        <div class="row m-1">
            <input type="text" name="Prenom" class="form-control col p-1" placeholder="Identifier le chef de service" />
        </div>
        <div class="row m-1">
            <input type="text" name="Telephone" class="form-control col p-1" required placeholder="Indiquez les collaborateurs du service" />
        </div>
        <div class="row m-1">
            <button class="col btn btn-dark" asp-controller="Service" asp-action="SuccesAjout" type="submit">Valider</button>
        </div>
    </form>
</div>




















    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
